.LoginPage__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 25em;
  padding: 0.5em;
  margin: 0.2em;
}

.LoginPage__flex,
.LoginPage__input-container,
.LoginPage__login-logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.LoginPage__login-logo {
  flex: 5;
  object-fit: contain;
  height: 9em;
  padding: 0.3em;
}

.LoginPage__input-container {
  flex: 1.5;
}
